/* 본문컨텐츠 영역 */
.contentArea {
}
.contentArea .certificateBox {
  background: #f6f6f6;
  width: 1200px;
  height: 850px;
  overflow: hidden;
}
.contentArea .textBox {
  width: 1200px;
  text-align: center;
  padding: 40px 30px 0 30px;
}
.contentArea .textBox dt {
  font-size: 2.75em;
  margin: 50px 0;
}
.contentArea .textBox dd {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

.contentArea .imgBox {
  padding-top: 40px;
}

.contentArea img:nth-of-type(1) {
  margin-left: 200px;
}
.contentArea img:nth-of-type(2) {
  margin-left: 100px;
}
.quality {
  margin: 150px 0 200px 0;
}
.quality dt {
  font-size: 2.75em;
  padding-bottom: 50px;
}
.quality dd {
  font-size: 1.5em;
  padding: 30px 0;
}
