/* 본문컨텐츠 영역 */
/* 연도별 분류 */
.contentArea {
}
.contentArea .historyNav {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.contentArea .historyNav li {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 200px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contentArea .historyNav li a {
  display: block;
  padding: 20px 0;
  background: #fff;
  color: #333;
  transition: all 0.5s;
}
.contentArea .historyNav li a:hover {
  background: orange;
  color: #fff;
}
.contentArea .historyNav li .current {
  background: orange;
  color: #fff;
  font-weight: 700;
}

/* 연혁 영역 */
.history {
  color: rgb(7, 11, 106);
}
.history dl {
  padding-top: 20px;
}
.history li {
  opacity: 0.5;
  transition: all 0.5s ease-out;
}
.history li:hover {
  opacity: 1;
}
.history dl {
  overflow: hidden;
  display: block;
}
.history dt {
  font-size: 9em;
  display: block;
  float: left;
  margin-top: -50px;
  margin-bottom: 90px;
}
.history dd {
  display: block;
  font-size: 1.5em;
  padding: 10px;
  padding-left: 500px;
}
